
.cm {
  font-size: 1.2rem;
  /* line-height: 1.8rem; */
  width: 100%;
  padding: 2rem 0;
  text-align: left;
  margin: auto 0;
}

.card__img{
  height: 300px;
}

.benefits{
  height: 300vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
 
  margin: 0 auto;
}

.samsung {
  min-width: 960px;
  background-image: url("http://www.samsung.com/us/explore/galaxy-s7-features-and-specs/dist/assets/img/nav/logo.png");
  display: block;
  width: 100%;
  height: 80px;
  padding: 16px;
  text-align: right;
 
  background-size: auto 30px;
  background-repeat: no-repeat;
  background-position: 16px;
  position: relative;
  z-index: 0;
}

.title{
  margin-bottom: 2rem;
}

.box{
  height: auto !important;
  float: left;
}

.row-container {
  height: auto;
}

.leading-edge{
  text-align: left !important;
}
@media (min-width: 320px) and (max-width: 426px){
.change-manage{
  width: 80vw;
}
.cm {
  font-size: 1rem !important;
}

}
@media (max-width: 1023px){
.leading-edge{
  text-align: left !important;
  text-justify: inter-word !important;
  padding: 0 !important;
}
}